extends layout

block scripts
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/style.css')
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/js/jquery.min.js')
	script(type='text/javascript', src='/js/bootstrap.min.js')
	script(type='text/javascript', src='/js/observatory.js')


block content
	ul.nav.nav-tabs(role='tablist')
		li.active
			a(href='#main-tab', role='tab', data-toggle='tab') main
	div.tab-content
		div.tab-pane.active#main-tab
			div#server-list-container
				div#server-list
